.tasks {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    display: flex;
    align-items: center;
    height: auto;
  }


  &__list-item + &__list-item {
    margin-top: 15px;
  }

  &__list-label {
    width: 75%;
  }

  &__list-input {
    color: #b3281a;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #b3281a;
    resize: vertical;
    width: 100%;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    2px 2px 5px rgba(154, 147, 140, 0.5);
  }

  &__list-text {
    word-break: break-all;
    max-width: 365px;
  }

  &__list-checkbox:checked + &__list-label {
    .tasks__list-text {
      text-decoration: line-through;
    }
  }

  &__btn-box {
    margin-left: auto;
  }
}
