.tasks {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    display: flex;
    align-items: center;
    height: auto;
  }


  &__list-item + &__list-item {
    margin-top: 15px;
  }

  &__list-label {
    display: flex;
    align-items: center;
    width: 75%;
  }

  &__list-checkbox {
    margin-right: 10px;
  }

  &__list-input {
    color: #b3281a;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #b3281a;
    resize: vertical;
    width: 100%;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    2px 2px 5px rgba(154, 147, 140, 0.5);
  }

  &__list-text {
    word-break: break-all;
    max-width: 365px;
  }

  &__list-checkbox:checked + &__list-label {
    .tasks__list-text {
      text-decoration: line-through;
    }
  }

  &__btn-box {
    margin-left: auto;
  }

  &__btn {
    width: 25px;
    height: 25px;
    background-color: #eaebed;
    border-radius: 50%;
    position: relative;
  }

  &__btn-icon {
    width: 12px;
    height: 12px;
    fill: #282c34;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  &__btn-update {
    fill: #006400;
  }

  &__btn + &__btn {
    margin-left: 15px;

    .tasks__btn-icon {
      fill: #b3281a;
    }
  }
}
