.tasks {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__listLabel {
    display: flex;
    align-items: center;

  }

  &__listCheckbox { margin-right: 10px;
  }

  &__listText {
  }

  &__btn{
    width: 25px;
    height: 25px;
    background-color: #eaebed ;
    border-radius: 50%;
    position: relative;
  }

  &__btn-icon{
    width: 12px;
    height: 12px;
    fill: #282c34;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  &__btn+&__btn{
    margin-left: 15px;
    .tasks__btn-icon{
      fill: #b3281a;
    }
  }
}